
MakeQRCode.xcodeproj/xcuserdata/patrickcostello.xcuserdatad/xcschemes/xcschememanagement.plist
MakeQRCode.xcodeproj/project.xcworkspace/xcuserdata/patrickcostello.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
